In [1]:
import pandas as pd

In [2]:
pk = pd.read_csv('PoliceKillingsUS.csv')

In [3]:
pk.head()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,02/01/15,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,02/01/15,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,03/01/15,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,04/01/15,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,04/01/15,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False

In [61]:
tk = pk.groupby('race').count()[['id']]
tk.rename(columns = {'id':'Total Police Killings'})

      Total Police Killings
race
A                        39
B                       618
H                       423
N                        31
O                        28
W                      1201

In [35]:
ua = pk[pk.armed == 'unarmed'].groupby('race').count()

Demographic overall populations pulled from http://worldpopulationreview.com/countries/united-states-population/

,id,name,date,manner_of_death,armed,age,gender,city,state,signs_of_mental_illness,threat_level,flee,body_camera
race,,,,,,,,,,,,,
B,63,63,63,63,63,62,63,63,63,63,63,62,63
H,34,34,34,34,34,34,34,34,34,34,34,33,34
N,2,2,2,2,2,2,2,2,2,2,2,2,2
O,4,4,4,4,4,4,4,4,4,4,4,4,4
W,67,67,67,67,67,67,67,67,67,67,67,65,67

In [12]:


w = 233657078
b = 40241818

In [34]:
def pop(r):
    if r == 'B':
        return b
    elif r == 'W':
        return w
    else:
        return 1

In [37]:
ua['population'] = ua.index.map(pop)

In [31]:
def rate(row):
    return float(row['id'])/float(row['population'])

In [38]:
ua['Unarmed Police Killings Rate'] = ua.apply(rate,axis=1)

In [39]:
ua

,id,name,date,manner_of_death,armed,age,gender,city,state,signs_of_mental_illness,threat_level,flee,body_camera,population,Unarmed Police Killings Rate
race,,,,,,,,,,,,,,,
B,63,63,63,63,63,62,63,63,63,63,63,62,63,40241818,1.565536e-06
H,34,34,34,34,34,34,34,34,34,34,34,33,34,1,3.400000e+01
N,2,2,2,2,2,2,2,2,2,2,2,2,2,1,2.000000e+00
O,4,4,4,4,4,4,4,4,4,4,4,4,4,1,4.000000e+00
W,67,67,67,67,67,67,67,67,67,67,67,65,67,233657078,2.867450e-07

In [45]:
wb = ua[(ua.index == 'W') | (ua.index == 'B')]

In [67]:
wb['Police Killings by Race per 100k Population Members'] = wb['Unarmed Police Killings Rate']*100000000

/Users/makhno/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [69]:
wb[['Police Killings by Race per 100k Population Members']]

      Police Killings by Race per 100k Population Members
race
B                                            156.553563
W                                             28.674501